@model IEnumerable<JobPortal.Server.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidatePassord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidatePassord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
